* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  font-size: 16px;
  background-color: hsl(47, 88%, 63%);
  align-items: center;
  height: 100vh;
  padding-left: 15px;
  padding-right: 15px;
}

.container {
  width: 100%;
  max-width: 375px;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 7px 7px;
  padding: 20px;
  background-color: hsl(0, 0%, 100%);
  font-family: "Figtree", sans-serif;
  font-weight: 500;
}

.course-image {
  display: block;
  margin: auto;
  border-radius: 15px;
  width: 100%;
}

.tag {
  width: 80px;
  background-color: hsl(47, 88%, 63%);
  font-weight: 800;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 5px 8px 5px; /*top | left and right | bottom*/
  border-radius: 5px;
}

.published-date {
  margin-bottom: 20px;
}

.class-title {
  color: black;
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 20px;
  cursor: pointer;
}

.class-title:hover {
  color: hsl(47, 88%, 63%);
}

.class-description {
  margin-bottom: 20px;
}

.author-container {
  display: flex;
  align-items: center;
}

.author-image {
  height: 40px;
  width: 40px;
  margin-right: 15px;
}

.author-name {
  font-weight: 800;
}

/* @media (max-width: 375px) {
  .container {
    margin-left: 10px;
    margin-right: 10px;
  }
} */